@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "../node_modules/react-modal-video/scss/modal-video.scss"; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'gordita_regular'; */
}
.bea{
    color: #000;
padding: 16px 36px;
border: 2px solid #000;
}
.bea::before {
    position: absolute;
    content: "";
    top: -16px;
    height: 14px;
    width: calc(100% + 3px);
    left: 6px;
    transform: skewX(-45deg);
    border: 2px solid #000;
    border-bottom: none;
    transition: all 0.3s ease-in-out;
}

.bea::after {
    position: absolute;
    content: "";
    right: -16px;
    height: calc(100% + 3px);
    width: 15px;
    top: -8px;
    transform: skewY(-45deg);
    border: 2px solid #000;
    border-left: none;
    border-top: none;
    transition: all 0.3s ease-in-out;
}

.bea:hover:after,
.bea:hover:before {
    background: #f3c755;
    border-color: #f3c755;
}
.bea:hover {
    border-color: transparent;
}

body .btn-eighteen {
    font-size: 19px;
    line-height: initial;
    
}
body .btn-eighteen i {
    font-size: 15px;
}
body .btn-eighteen:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    height: 2px;
    width: 100%;
    background: #000;
}
body .btn-eighteen a:hover {
    color: #ff1292;
}

/*  media quarery */


@media (max-width: 767px) {
    .btn-twentyFour {padding: 10px 15px; font-size: 13px;}
}

@media (max-width: 575px) {
    .btn-twentyFour {padding: 10px 15px; font-size: 12px;}
}

.moreItem{
    background: #ffce4c;
    border-color:#ffce4c;
}

.moreItem:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    top: 6px;
    left: 6px;
    background: #000;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}
.moreItem:hover:before {
    top: -6px;
    left: -6px;
}

.card-style-nineteen:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 10px;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.card-style-nineteen:hover:before {
    opacity: 1;
}

.tab-content:before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    height: 305px;
    background: url(/images/assets/bg-15.svg);
    background-repeat: repeat-x;
    z-index: -1;
   width: 100%;
}

.tab-content1:before {
    content: "";
    position: absolute;
    bottom: 00px;
    right: 0;
    height: 450px;
    background: url(/images/assets/bg-14.svg);
    background-repeat: repeat-x;
    /* background-repeat: repeat-y; */
    z-index: -1;
   width: 100%;
}
.activeStar{
    color: #ffce4c;
}
.star{
    color:#C4C4C4;
}

/*  rotation  */
.rotate {
    animation: rotated 70s linear infinite;
    -webkit-animation: rotated 70s linear infinite;
}

@keyframes rotated {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
  }
  
  /* Rest of your CSS rules */
.active{
border: 1px solid black;
}

/*  contact list */

.sc-title-two:before {
    content: "";
    position: absolute;
    width: 22px;
    height: 1px;
    background: #ff3294;
    /* left: -33%; */
    top: 14px;
    left: -33%;
}

/* courses */
.sc-title-two{
    padding-left: 40px;
    margin-bottom: 20px;
}

.sc-title-two:before{
    content: "";
    position: absolute;
    width: 24px;
    height: 1px;
    background: #ff3294;
    left: 0;
    top: 14px;
}

/*  */
.g-control-nav-two li {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    color: #313131;
    display: inline-block;
    padding: 0 8px;
    line-height: 31px;
    border: 2px solid transparent;
    margin: 0 12px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.g-control-nav-two li.is-checked {
    border-color: #313131;
}
.card:hover .pj-name{
    text-decoration: underline;
}